<div class="modal fade" id="delete-<%= @note.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Note deletion confirmation</button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this note?</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Delete', note_path(@note), method: :delete, :class => 'btn btn-sm btn-danger' %>
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-light">Cancel</a>
      </div>
    </div>
  </div>
</div>
