<div class="modal fade text-dark" id="delete-<%= note.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5><strong>Note deletion confirmation</strong></h5>
      </div>
      <div class="modal-body text-left">
        <p>Are you sure to delete <strong><%= note.title %></strong> ?</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Delete', note_path(note), method: :delete, :class => 'btn btn-sm btn-danger' %>
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-light">Cancel</a>
      </div>
    </div>
  </div>
</div>
