<%= form_tag notes_path, method: "get", class: ""  do %>
  <div class="input-group">
    <input type="text"
            name="search"
            id="search"
            placeholder="Search <%= current_user.notes.size %> notes stored in the DB"
            class="form-control">
    <div class="input-group-append">
      <button class="btn btn-sm btn-light" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
<% end %>
