<div class="ui grid">
  <div class="eight wide column">
    <h3>Editing Note</h3>
  </div>
  <div class="right aligned eight wide column">

  </div>
</div>
<hr/>

<div class="card shadow-sm bordered p-4">
  <%= render 'form', item: @item %>
</div>
