<div class="ui grid">
  <div class="eight wide column">
    <h3>Contact us</h3>
  </div>
  <div class="right aligned eight wide column">
  </div>
</div>
<hr/>

<%= render 'form', anonymous_inquiry: @anonymous_inquiry %>
<br /><br />