line {
	stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 3;
}

text {
  fill: black;
  stroke: none;
  text-anchor: middle;
  pointer-events: none;
  font-size: 14px;
}

.node {
	stroke: #bbb;
  stroke-width: 1.5;
  cursor: pointer;
}

line text {
  fill: #666;
  stroke: none;
}

.nodeHover {
  stroke: #3f51b5;
  stroke-width: 6;
}