@import 'colors';

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  // padding: 48px 0 0; /* Height of navbar */
  padding: 64px 0 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-family: 'Titillium Web', sans-serif;
  width: 300px;
}

// @media (max-width: 690px) {
//   .sidebar {
//     display: none;
//   }
// }

hr.sidebar-hr{
  background-color: #444444;
}

.sidebar-sticky {
  padding: 10px;
  background: #282828;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 400;
  font-size: 0.9em;
  color: #888888;
  padding: 0.1rem 1rem 0.2rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #eeeeee !important;
}

.sidebar .nav-link.active {
  color: #eeeeee !important;
}

.sidebar-heading {
  font-size: 0.9rem;
  // text-transform: uppercase;
  color: $white !important;
}
