<div class="row">
  <div class="col-2">
    <h3>Help</h3>
  </div>
  <div class="col-10 text-right">
  </div>
</div>

<hr/>
<br>

<div class="card border rounded-lg shadow-sm px-5 py-4">

<h5>Links</h5>
<%= link_to 'Official Homepage', official_homepage_repo_url, class: 'link-purple', target: :_blank %>    
<%= link_to 'Official Github repo', official_github_repo_url, class: 'link-purple', target: :_blank %>    

</div>
