<%= form_tag inventory_notes_path, method: "get", class: "ui form"  do %>
  <div class="ui inverted transparent fluid icon input">
    <%= text_field_tag :search, params[:search], placeholder: "Search Items", type: "text" %>
    <i class="search link icon"></i>
  </div>
<% end %>
