<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey Admin.. a new user has just signed up with a <%= @user.signed_up_type %> account</p>
    <p></p>
    <p>email: <em><%= @user.email %></em></p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
