<div class="modal fade text-left" id="delete-<%= tag.name %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Tag deletion confirmation</button>
      </div>
      <div class="modal-body">
        <p><strong>WARNING:</strong> By deleting this tag, all related notes will NOT be deleted.

        <p>Are you sure to delete this tag?</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Delete', tag_path(tag.name), method: :delete, :class => 'btn btn-sm btn-danger' %>
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-light">Cancel</a>
      </div>
    </div>
  </div>
</div>
