<tr>
  <td>
    <% if item.favorite %>
      <i class="ui yellow star icon"></i>
    <% end %>
    <%= link_to item.title,
          item,
          data: { turbolinks: false }
          %>
  </td>
  <td class="right aligned">
    <%= "#{distance_of_time_in_words(Time.now, item.updated_at)} ago" %>
  </td>
</tr>
