<div class="container">
  <div class="login-box mt-md-5 pt-md-5 d-block" style='margin-top: 200px !important;'>
    <div class="logo text-center pb-5 ml-auto">
      <%= link_to 'wreeto', root_path %>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
      <h2 class="font-weight-normal lead" id="desc">
      The page you requested was not found. <br /><br />
      <%= link_to 'Go back home', root_path, class: ""  %>
      </h2>
    </div>
  </div>
</div>