<div class="row mb-3">
  <div class="col-12">
    <h3>Subscription</h3>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card shadow-sm bordered p-4">
      <h6>Your current plan</h6>
      <h4 class="text-bold"><%= current_user.current_plan.to_s.titleize %></h4>
      Your plan includes: 
      <ul class="">
        <li>200 notes </li>
        <li>10 categories </li>
        <li>5 projects</li>
        <li>1 digital garden</li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <div class="card shadow-sm bordered p-4">
      <h6>Upgrade to</h6>
      <h4 class="text-bold">Premium <i class="fa fas fa-star text-warning"></i></h4>
      Plan includes: 
      <ul class="">
        <li>Unlimited notes </li>
        <li>Unlimited categories </li>
        <li>Unlimited projects</li>
        <li>Unlimited digital gardens</li>
      </ul>
      <hr />
      <div class="row">
        <div class="col-12 text-right">
          <%= link_to 'I am interested', 
                  premium_inquiries_path, 
                  class: "btn btn-sm btn-warning text-dark #{disable_inquiry(current_user)}",
                  data: { turbolinks: false },
                  method: :post
                  %>
        </div>
      </div>
    </div>
  </div>
</div>