<div class="card border-dark bg-white text-dark px-1 mb-2">
  <div class="card-body py-3">
    <div class="row h-100">  
      <div class="col-12 my-auto">
        <div class="text-left">
          <h5>What is a Digital Garden?</h5>
          A digital garden is an online space at the intersection of a notebook and a blog, 
          where digital gardeners share seeds of thoughts to be cultivated in public. 
          Rather than presenting a set of polished articles, displayed in reverse chronological 
          order, these sites act more like freeform, work-in-progress wikis.
          <br/><br/>
          Learn more about Digital Gardens <a href="#">here</a>
        </div>
      </div>
    </div>
  </div>
</div>