<div class="card bg-white px-1 mb-2">
  <div class="card-body py-3">
    <div class="row h-100">  
      <div class="col-12 text-dark">
        <h5>What is a Digital Garden?</h5>
        <hr/>
        A digital garden is an online space at the intersection of a notebook and a blog, 
        where digital gardeners share seeds of thoughts to be cultivated in public. 
        Rather than presenting a set of polished articles, displayed in reverse chronological 
        order, these sites act more like freeform, work-in-progress wikis.
        <br/><br/>
        Learn more about Digital Gardens <a href="https://joelhooks.com/digital-garden" class="link-purple text-bold" target="_blank">here</a>
      </div>
    </div>
    <% unless current_user.plan_premium? %>
      <div class="row h-100 mt-3 bg-dark rounded-lg px-1 mx-0 py-2">
        <div class="col-10 my-auto">
          <span class="text-left text-warning">
            <% if current_user.plan_free? %>
              In the <strong>FREE</strong> plan you can only create one Digital Garden. Please upgrade to <strong>PREMIUM</strong> for unlimited gardens!
            <% elsif current_user.plan_trial? %>
              In the <strong>FREE</strong> plan you can only create one Digital Garden. Please upgrade your <strong>TRIAL</strong> to <strong>PREMIUM</strong> plan for unlimited gardens!
            <% end %>
          </span>
        </div>
        <div class="col-2 my-auto">
          <div class="text-right">
            <%= link_to 'Learn more', 
                  subscription_path, 
                  class: "btn btn-sm btn-warning text-dark",
                  data: { turbolinks: false }%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>