/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./backend
 *= require_self
 */

 body{
   font-family: 'Titillium Web', sans-serif;
   font-size: 0.9rem;
   font-weight: 400;
   background-color: #f1f1f1;
   color: #444444;
 }

 .menu, .form, .button,
 h1, h2, h3, h4, h5,
 .header, input, .dropdown, a, .label, p, table,
 ul li{
   font-family: 'Titillium Web', sans-serif !important;
   // font-size: 1.2rem;
   // font-weight: 400;
 }

 ul li ul{
  padding-left: 16px;
}

input:focus, input.form-control:focus, button:focus{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form .field{
  margin-bottom: 20px !important;
}

.wt-navbar{
  z-index: 100;
}

.wt-content{
  display: block;
  margin: 0 auto;
  padding: 40px 15px 0 15px;
}

.main-content{
  margin-top: 110px !important;
  margin-left: 300px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

.landing-logo{
  font-family: 'Beth Ellen', cursive;
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none !important;
  color: #ffffff;
  a {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
    color: #dddddd;
  }
}

.navbar, .navbar.navbar-light{
  // background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,0.15);
  .logo-item {
    height: 48px;
    margin: 0 auto;
    .logo {
      font-family: 'Beth Ellen', cursive !important;
      display: block;
      margin: 0 auto;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    margin-top: 10px;
    border-top: 1px solid #eee;
    border-radius: 0;
    right: 0;
    min-width: 12rem !important;
  }
}

.table, table {
  margin-bottom: 0px;
}

.table > thead > tr:first-child > td,
.table > tbody > tr:first-child > td {
    border: none;
}

.bootstrap-select button.btn{
  text-transform: none;
}