<div class="ui grid">
  <div class="eight wide column">
    <h3>Edit Category</h3>
  </div>
  <div class="right aligned eight wide column">

  </div>
</div>
<hr/>
<br>

<div class="card shadow-sm bordered p-4">
  <%= render 'form', item: @item %>
</div>
