<div class="mb-3">
  <div class="">
    <% if @category.is_a_project? %>
      <h3>Edit Project</h3>
    <% else %>
      <h3>Edit Category</h3>
    <% end %>
  </div>
</div>

<%= render 'form', item: @item %>
