<div class="ui grid">
  <div class="eight wide column">
    <% if @category.is_a_project? %>
      <h3>New Project</h3>
    <% else %>
      <h3>New Category</h3>
    <% end %>
  </div>
</div>
<hr/>

<div class="card shadow-sm bordered p-4">
  <%= render 'form', item: @item %>
</div>
