<div class="row mb-3">
  <div class="col-12 col-md-6">
    <h3>Projects</h3>
  </div>
  <div class="d-block d-md-none col-12 col-md-6 text-center mt-3">
  </div>
  <div class="d-none d-md-block col-12 col-md-6 text-right my-auto">
    <%= link_to 'Create new project',
            new_project_path,
            class: "btn btn-sm btn-purple",
            data: { turbolinks: false }
            %>
  </div>
</div>

<% if @category.any? %>
  <div class="mb-2">
    <% @category.ordered_by_active.ordered_by_title.group_by{|d| d.parent}.each do |group| %>
      <h5>
        <% if group[0].present? %>
          <%= link_to group[0].full_title, 
            category_path(group[0].slug), 
            class: "link-purple", 
            data: { turbolinks: false } %>
        <% end %>
      </h5>
      <div class="ml-2">
        <% group[1].each do |project| %>
          <%= render partial: 'notes/notes_list_projects', locals: {project: project, notes: project.notes} %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= blank_slate(:projects) %>
<% end %>
