<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to wreeto!</p>

    <p>You are receiving this email because you signed up on <a href="http://wreeto.com" target="_blank">wreeto.com</a>.</p>

    <p>You logged in with your Google Account so no confirmation is needed.</p>

    <p>
      Thank you!<br>
      <em>the wreeto.com team</em>
    </p>

  </body>
</html>
