<h6 class="pb-4 text-bold">ATTACHMENTS</h6>
<div class="">
  <%= render partial: 'attachments_list', locals: {note: @note, intent: :edit} %>
  <div class="form-row mt-2">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        Add one or multiple attachments:  <br/><br/>
        <%# <label class="btn btn-sm btn-dark">
          BROWSE FILES
          <span style="display:none;"> %>
            <%= f.file_field :attachments, multiple: true, direct_upload: true %>
          <%# </span>
        </label> %>
      </div>
    </div>
  </div>
</div>