<h6 class="pb-4 text-bold">BACKLINKS</h6>
<div class="form-row">
  <div class="col-12 col-lg-6">
    <% if @links.any? %>
      <div class="form-group">
        <label for="form-dg-select">Links to</label>
        <%= f.collection_select :link_ids, @links.where.not(id: @note.id), :id, :title, {},
            {
              id: "form-backlinks-select",
              class: 'form-control selectpicker show-tick',
              multiple: true,
              data: {live_search: "true", width: '100%'}
            } %>
      </div>
    <% else %>
      In order to link a note you will need to create one first
    <% end %>
  </div>
</div>
