<h6 class="pb-4 text-bold">PUBLIC LINK SHARING</h6>
<div class="form-row">
  <div class="col-12 col-lg-6">
    <div class="form-group mb-4">
      <div class="pretty p-fill">
        <%= f.check_box :public_shared %>
        <div class="state p-success">
          <%= f.label :public_shared, 'Enable' %>
        </div>
      </div>
    </div>
  </div>
</div>